pip>=25
setuptools>=70
wheel

numpy>=2.0,<3
pandas==2.2.3

dash==2.17.1
plotly==5.22.0
python-dotenv==1.0.1
itsdangerous==2.2.0
gunicorn==21.2.0
requests==2.32.3
openpyxl==3.1.5
xlrd==2.0.1
biopython==1.83

